/* Container for the dashboard layout */
.dashboard-layout {
    display: flex;
    min-height: 100vh; /* Full height of the viewport */
  }
  
  /* Sidebar - fixed width, occupying the left */
  .sidebar {
    width: 300px; /* Adjust this based on how wide you want your sidebar */
    color: #333;
    height: 100%; /* Full height */
    position: fixed; /* Keeps it fixed when scrolling */
    top: 0;
    left: 0;
    padding: 40px 25px;
    box-sizing: border-box;
    box-shadow: 0px 8px 12px rgba(226, 236, 249, 0.5); /* Drop shadow on the Y-axis only */
    background-color: #fff;
  }

  .sidebar img {
    width: 120px;
    height: auto;
  }


  .sidebar ul {
    list-style: none;
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
  }

  /* Style for list items */
.sidebar ul li {
    margin-bottom: 20px; /* Adds space between items */
  }
  
  /* Style for links in the list items */
  .sidebar ul li a {
    text-decoration: none; /* Removes underline */
    color: #9197b3; /* Set your desired color */
    font-size: 14px;
    display: flex; /* Allows icon and text to align horizontally */
    align-items: center;
    padding: 15px;
    border-radius: 10px;
  }
  
  .sidebar ul li a:hover {
    background-color: #e1251b; /* Color on hover, optional */
    color: #fff;
  }

  /* Change the icon border and color when the entire button is hovered */
  .sidebar ul li a:hover .sidebar-icon {
    border-color: #fff; /* Changes icon border color on hover */
    color: #fff; /* Change icon color on hover */
  }
  .nav-link {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .nav-icon {
    display: flex;
    align-items: center;
  }

  .sidebar-icon {
    padding: 4px;
    border: 1.5px solid #9197b3;
    border-radius: 7px;
    margin-right: 10px;
  }


/* Style for arrow on the right */
.icon-right {
    margin-left: auto; /* Push arrow to the far right */
  }
  
  /* Main content area - takes the remaining space */
  .dashboard-content {
    margin-left: 300px; /* This pushes the main content to the right of the sidebar */
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
    background-color: #f9f9f9; /* Main content background */
  }
  
  /* Optional: Navbar inside main content */
  .navbar {
    background-color: #fff;
    padding: 30px;
    color: #000;
    text-align: center;
  }
  
  .content {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .chart-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .doughnut-container, 
  .linegraph-container,
  .auto-coverage-container,
  .test-run-container,
  .top-failing-tests-container,
  .browser-coverage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Inherit height from .chart-row */
    box-sizing: border-box;
  }
  
  .doughnut-container {
    flex: 1;
    padding-left:30px;
  }
  
  .linegraph-container {
    flex: 2;
    padding: 0px 30px;
  }

  .auto-coverage-container,
  .top-failing-tests-container {
    flex: 2;
    padding: 0px 30px;
  }
  
  .test-run-container {
    flex: 1;
    padding-right:30px;
  }
  
  /* Ensure canvas takes up 100% of the container */
.doughnut-container canvas,
.linegraph-container canvas,
.auto-coverage-container canvas,
.test-run-container canvas {
  height: 100% !important; /* Force canvas to stretch */
  width: 100% !important;  /* Force canvas to stretch */
}

/* Browser Coverage specific styling */
.browser-coverage-container {
    flex: 1;
    position: relative;
    margin-right:30px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .browser-coverage-container svg {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ensure SVG scales properly */
    max-height: 500px; /* Optional: limit height to avoid stretching */
    border-radius: 8px;
  }
  
  /* Ensure canvas takes up 100% of the container */
  .doughnut-container canvas,
  .linegraph-container canvas,
  .auto-coverage-container canvas,
  .test-run-container canvas {
    height: 100% !important; /* Force canvas to stretch */
    width: 100% !important;  /* Force canvas to stretch */
  }